

RewriteEngine On
RewriteRule    about$   aboutus.php    [NC,L]
RewriteRule    career$   career.php    [NC,L]
RewriteRule    news$   news.php    [NC,L]
RewriteRule    vision-mission$   vision.php    [NC,L]
RewriteRule    contact$   contact.php    [NC,L]